{% extends "AppProyecto/padre.html" %}

{% load static %}

{% block ContenidoQueCambia %}
<br>
<br>
<div class="text-center">
    <h1>ACERCA DE MI</h1>

    <br>
    <img src="{% static 'AppProyecto/assets/img/AgustinaFranco.jpg' %}" width="300px" >
    <br>
    <br>
    
    <h3>Ma. Agustina Franco</h3>
    <h5>Ing. Industrial</h5>
    <p>Mi nombre es Agustina Franco y soy la creadora de esta pagina web.</p> 
    <p>Este trabajo forma parte de mi Proyecto Final del curso de Python de CODERHOUSE</p>
</div>



{% endblock %}