{% extends "AppProyecto/padre.html" %}

{% load static %}

{% block ContenidoQueCambia %}
<br>
<br>
<div class="text-center"><h1>CATALOGO</h1></div>


<ul>
    {% for libro in object_list %}

     <li>
         <p>Titulo: {{ libro.titulo }}</p>
         <p>Autor: {{ libro.autor }}</p>
         <p>Precio: ${{ libro.precio }}</p>
         <p>Vendedor: {{ libro.vendedor }}</p>
         {% if libro.imagen %}
            <p><img src="{{libro.imagen.url}}" width="200px"></p>
        {% endif %}

         <p>
             <a href="{% url 'Detail' libro.id %}">Ver</a>
                 
             {% if request.user == libro.vendedor %}
                <a href="{% url 'Edit' libro.id %}">Editar</a>
                <a href="{% url 'Delete' libro.id %}">Borrar</a>
             {% endif %}
         </p>
     </li>
    {% endfor %}
</ul>

{% endblock %}


